.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    background: transparent;
}
h1 {
    flex: 0 1 100%;
    text-align: center;

}
.btn {
    text-align: center;
    font-size: 20px;
    color: green;
    flex: 0 1 15%;
    margin: 10px; 
    padding: 8px;
}