* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgb(250, 165, 165);
  margin: 1%;
  padding: 1%; 
  width: 96%;
}
.SoundsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

