* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgb(250, 165, 165);
  width: 100%;
}
.SoundsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

